Repository aurora-is-near/aurora-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshuajbouw, @aleksuss, @mandreyel, @RomanHodulak

.github/CODEOWNERS:

* @joshuajbouw
/engine/ @aleksuss
/engine-precompiles/ @mandreyel
/engine-sdk/ @aleksuss
/engine-standalone-storage/ @RomanHodulak
/engine-standalone-tracing/ @RomanHodulak
/engine-test-doubles/ @joshuajbouw
/engine-tests/ @joshuajbouw
/engine-transactions/ @aleksuss

chore: add bench-modexp flow to CI script (#762)
  .github/workflows/lints.yml
  .github/workflows/tests.yml
  Makefile.toml
Owners: @joshuajbouw

chore(backstage): add testnet address (#761)
  engine/.catalog-info.yaml
Owners: @aleksuss

release: 2.9.2 release notes and details (#782)
  CHANGES.md
  VERSION
  engine/Cargo.toml
Owners: @joshuajbouw, @aleksuss

Fix(modexp): use ibig implementation (#778)
  engine-modexp/Cargo.toml
  engine-modexp/src/lib.rs
  engine-tests/src/tests/modexp.rs
  engine-tests/src/tests/repro.rs
Owners: @joshuajbouw

chore: fix changelog links for 2.9.2 (#784)
  CHANGES.md
Owners: @joshuajbouw

Get methods not affected by pausing.
  engine-tests/src/tests/pause_contract.rs
  engine/src/lib.rs
Owners: @joshuajbouw, @aleksuss

Format.
  engine-tests/src/tests/pause_contract.rs
Owners: @joshuajbouw

Paused requires running and resume requires paused.
  engine-tests/src/tests/pause_contract.rs
  engine/src/errors.rs
  engine/src/lib.rs
Owners: @joshuajbouw, @aleksuss

Remove pausing from evm_bully methods.
  engine/src/lib.rs
Owners: @aleksuss

chore: fix changelog links for 2.9.2 (#784)
  CHANGES.md
Owners: @joshuajbouw
