Repository aurora-is-near/aurora-engine, pull requests merged in 2021-12, with the labels that each got.

#383 Feat(standalone): EVM tracing via SputnikVM
  Cargo.lock
  Cargo.toml
  engine-standalone-tracing/Cargo.toml
  engine-standalone-tracing/src/lib.rs
  engine-standalone-tracing/src/sputnik.rs
  engine-standalone-tracing/src/types.rs
  engine-standalone/Cargo.toml
  engine-standalone/src/ffi.rs
  engine-standalone/src/main.rs
  engine-tests/Cargo.toml
  engine-tests/src/test_utils/standalone/mocks/mod.rs
  engine-tests/src/test_utils/standalone/mocks/tracing.rs
  engine-tests/src/tests/standalone/mod.rs
  engine-tests/src/tests/standalone/tracing.rs
  engine/Cargo.toml
Labels: A-standalone

#382 Feat(standalone): Structures and logic for keeping storage in sync with the blockchain
  engine-standalone-storage/src/lib.rs
  engine-standalone-storage/src/sync/mod.rs
  engine-standalone-storage/src/sync/types.rs
  engine-tests/src/test_utils/standalone/mocks/mod.rs
  engine-tests/src/tests/standalone/mod.rs
  engine-tests/src/tests/standalone/sync.rs
  engine-types/src/parameters.rs
  engine/src/connector.rs
  engine/src/deposit_event.rs
  engine/src/engine.rs
  engine/src/parameters.rs
  engine/src/proof.rs
  engine/src/transaction/eip_1559.rs
  engine/src/transaction/eip_2930.rs
  engine/src/transaction/legacy.rs
  engine/src/transaction/mod.rs
Labels: A-standalone

#384 Feat(standalone): Capture geth-like tracing from SputnikVM events
  engine-standalone-tracing/src/sputnik.rs
  engine-standalone-tracing/src/types.rs
  engine-standalone/src/ffi.rs
  engine-tests/src/tests/standalone/tracing.rs
Labels: A-standalone

#374 Connector cleanup
  Cargo.lock
  engine-precompiles/Cargo.toml
  engine-standalone-storage/src/relayer_db/mod.rs
  engine-standalone-storage/src/sync/mod.rs
  engine-tests/Cargo.toml
  engine-tests/src/test_utils/standalone/mocks/mod.rs
  engine-tests/src/tests/eth_connector.rs
  engine-tests/src/tests/standalone/sync.rs
  engine-types/src/types.rs
  engine/src/connector.rs
  engine/src/deposit_event.rs
  engine/src/engine.rs
  engine/src/fungible_token.rs
  engine/src/lib.rs
  engine/src/parameters.rs
  etc/state-migration-test/Cargo.lock
Labels: C-enhancement, A-testing

#388 Chore: Remove betanet
  .github/workflows/tests.yml
  Makefile
  README.md
  engine-standalone-storage/Cargo.toml
  engine-standalone-tracing/Cargo.toml
  engine-standalone/Cargo.toml
  engine-tests/Cargo.toml
  engine-tests/src/test_utils/mod.rs
  engine/Cargo.toml
Labels: P-low, A-ci, C-housekeeping

#389 Increase NEAR Gas for ft_on_transfer
  engine-sdk/src/env.rs
  engine-sdk/src/near_runtime.rs
  engine-standalone-storage/src/relayer_db/mod.rs
  engine-standalone-storage/src/sync/mod.rs
  engine-tests/src/test_utils/standalone/mocks/mod.rs
  engine-tests/src/test_utils/standalone/mod.rs
  engine-tests/src/tests/standalone/sanity.rs
  engine-types/src/types.rs
  engine/src/connector.rs
  engine/src/fungible_token.rs
  engine/src/lib.rs
Labels: C-enhancement

#391 Feat(standalone): Add debug tracing of remaining gas values
  engine-standalone-tracing/src/sputnik.rs
  engine-standalone-tracing/src/types.rs
  engine-tests/src/tests/standalone/tracing.rs
Labels: A-standalone

#387 Eth Address cleanup
  engine-precompiles/src/blake2.rs
  engine-precompiles/src/bn128.rs
  engine-precompiles/src/hash.rs
  engine-precompiles/src/identity.rs
  engine-precompiles/src/lib.rs
  engine-precompiles/src/modexp.rs
  engine-precompiles/src/native.rs
  engine-precompiles/src/random.rs
  engine-precompiles/src/secp256k1.rs
  engine-sdk/src/lib.rs
  engine-sdk/src/prelude.rs
  engine-sdk/src/types.rs
  engine-standalone-storage/src/relayer_db/types.rs
  engine-tests/src/benches/eth_deploy_code.rs
  engine-tests/src/benches/eth_erc20.rs
  engine-tests/src/benches/eth_standard_precompiles.rs
  engine-tests/src/benches/eth_transfer.rs
  engine-tests/src/benches/nft_pagination.rs
  engine-tests/src/test_utils/erc20.rs
  engine-tests/src/test_utils/exit_precompile.rs
  engine-tests/src/test_utils/mod.rs
  engine-tests/src/test_utils/one_inch/liquidity_protocol.rs
  engine-tests/src/test_utils/self_destruct.rs
  engine-tests/src/test_utils/standalone/mocks/mod.rs
  engine-tests/src/test_utils/standalone/mod.rs
  engine-tests/src/test_utils/uniswap.rs
  engine-tests/src/test_utils/weth.rs
  engine-tests/src/tests/access_lists.rs
  engine-tests/src/tests/contract_call.rs
  engine-tests/src/tests/eip1559.rs
  engine-tests/src/tests/erc20_connector.rs
  engine-tests/src/tests/eth_connector.rs
  engine-tests/src/tests/meta_parsing.rs
  engine-tests/src/tests/sanity.rs
  engine-tests/src/tests/standalone/json_snapshot.rs
  engine-tests/src/tests/standalone/sanity.rs
  engine-tests/src/tests/standalone/storage.rs
  engine-tests/src/tests/standalone/sync.rs
  engine-tests/src/tests/standalone/tracing.rs
  engine-tests/src/tests/uniswap.rs
  engine-types/src/lib.rs
  engine-types/src/parameters.rs
  engine-types/src/storage.rs
  engine-types/src/types/address.rs
  engine-types/src/types/mod.rs
  engine/src/connector.rs
  engine/src/deposit_event.rs
  engine/src/engine.rs
  engine/src/fungible_token.rs
  engine/src/lib.rs
  engine/src/meta_parsing.rs
  engine/src/parameters.rs
  engine/src/transaction/eip_1559.rs
  engine/src/transaction/eip_2930.rs
  engine/src/transaction/legacy.rs
  engine/src/transaction/mod.rs
Labels: C-enhancement
