Repository aurora-is-near/aurora-engine, pull requests merged in 2022-06, with the labels that each got.

#520 Fix(engine): revert Chain ID requirement
  engine-tests/src/tests/erc20_connector.rs
  engine/src/engine.rs
Labels: C-bug, P-high, A-engine

#527 Release 2.5.3.
  CHANGES.md
  README.md
  VERSION
  engine-precompiles/src/native.rs
  engine-tests/src/tests/erc20_connector.rs
  engine-tests/src/tests/res/exploit.sol
Labels: P-critical, C-release

#528 Chore(precompile): Include blake2 compression directly
  Cargo.lock
  engine-precompiles/Cargo.toml
  engine-precompiles/src/blake2.rs
Labels: P-low, C-housekeeping, A-cryptography

#515 Build(deps): Upgrade `libsecp256k1` version 0.3.5 => 0.7.0
  Cargo.lock
  Cargo.toml
  engine-precompiles/Cargo.toml
  engine-precompiles/src/secp256k1.rs
  engine-tests/Cargo.toml
  engine-tests/src/benches/eth_deploy_code.rs
  engine-tests/src/benches/eth_erc20.rs
  engine-tests/src/benches/eth_standard_precompiles.rs
  engine-tests/src/benches/eth_transfer.rs
  engine-tests/src/benches/nft_pagination.rs
  engine-tests/src/test_utils/mod.rs
  engine-tests/src/test_utils/standalone/mod.rs
  engine-tests/src/tests/access_lists.rs
  engine-tests/src/tests/eip1559.rs
  engine-tests/src/tests/erc20.rs
  engine-tests/src/tests/erc20_connector.rs
  engine-tests/src/tests/multisender.rs
  engine-tests/src/tests/one_inch.rs
  engine-tests/src/tests/sanity.rs
  engine-tests/src/tests/standalone/json_snapshot.rs
  engine-tests/src/tests/uniswap.rs
  engine/Cargo.toml
  etc/state-migration-test/Cargo.lock
Labels: C-dependencies, S-blocked, A-precompiles, A-security

#474 Standalone and wasm ecrecover implementations differ
  engine-precompiles/src/secp256k1.rs
  engine-sdk/src/lib.rs
  engine-tests/src/tests/ecrecover.rs
  engine-tests/src/tests/mod.rs
  engine-tests/src/tests/sanity.rs
Labels: C-bug, A-precompiles, A-standalone

#536 Fix(engine): Correctly account for changes in total supply of ETH on Aurora
  engine-tests/src/test_utils/mod.rs
  engine-tests/src/test_utils/one_inch/mod.rs
  engine-tests/src/test_utils/standalone/mocks/mod.rs
  engine-tests/src/tests/one_inch.rs
  engine-tests/src/tests/repro.rs
  engine-tests/src/tests/res/self_destructor.sol
  engine-tests/src/tests/sanity.rs
  engine-tests/src/tests/standalone/json_snapshot.rs
  engine-tests/src/tests/uniswap.rs
  engine/src/accounting.rs
  engine/src/connector.rs
  engine/src/engine.rs
  engine/src/fungible_token.rs
  engine/src/lib.rs
Labels: C-bug, A-connector

#537 Release 2.6.1.
  CHANGES.md
  Cargo.lock
  README.md
  VERSION
  engine-sdk/Cargo.toml
  engine-sdk/src/near_runtime.rs
  engine-tests/src/test_utils/mod.rs
  engine-tests/src/test_utils/one_inch/mod.rs
  engine-tests/src/test_utils/standalone/mocks/mod.rs
  engine-tests/src/tests/erc20_connector.rs
  engine-tests/src/tests/ghsa_3p69_m8gg_fwmf.rs
  engine-tests/src/tests/mod.rs
  engine-tests/src/tests/one_inch.rs
  engine-tests/src/tests/repro.rs
  engine-tests/src/tests/res/echo.sol
  engine-tests/src/tests/res/self_destructor.sol
  engine-tests/src/tests/sanity.rs
  engine-tests/src/tests/standalone/json_snapshot.rs
  engine-tests/src/tests/uniswap.rs
  engine/Cargo.toml
  engine/src/accounting.rs
  engine/src/connector.rs
  engine/src/engine.rs
  engine/src/fungible_token.rs
  engine/src/lib.rs
Labels: C-release

#541 Cargo dependency update
  Cargo.lock
  Cargo.toml
  engine-tests/src/tests/repro.rs
  etc/self-contained-5bEgfRQ/Cargo.lock
Labels: C-dependencies
