Repository aurora-is-near/aurora-engine, pull requests merged in 2022-09, with the labels that each got.

#600 Fix(aurora-engine-transactions): remove hex feaure from std
  engine-transactions/Cargo.toml
Labels: C-bug, C-dependencies

#599 Add test benchmarking transaction Emufid2pv2UpxrZae4NyowF2N2ZHvYEPq16LsQc7Uoc6
  engine-tests/src/tests/repro.rs
  engine-tests/src/tests/res/aurora_state_Emufid2.json
  engine-tests/src/tests/res/input_Emufid2.hex
Labels: A-benchmark

#598 Connector-tests: Add tests for the case where an account other than aurora-engine is used for ETH deposit
  engine-tests/src/tests/eth_connector.rs
Labels: A-connector, A-testing

#601 [Docs] Eth Connector - extended documentation
  doc/eth-connector.md
Labels: C-docs

#606 merge: master 2.7.0
  CHANGES.md
  Cargo.lock
  README.md
  VERSION
  engine/Cargo.toml
Labels: P-high, C-housekeeping, A-engine

#605 feat: add serde JSON to JSON serializable structs in parameters
  engine-types/src/account_id.rs
  engine-types/src/types/wei.rs
  engine/src/parameters.rs
Labels: C-enhancement, P-high, A-engine
